.iiif-focal-point-indicator {
  width: 1px;
  height: 1px;
  cursor: move;
}

.iiif-focal-point-indicator:after {
  content: "+";
  color: #fff;
  cursor: move;
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
  width: .75em;
  height: .75em;
  font-size: 1.5em;
  line-height: .75em;
  display: block;
  position: relative;
  top: -.375em;
  left: -.375em;
}

.iiif-focal-point-wrapper {
  display: inline-block;
  position: relative;
  direction: ltr;
}
